In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("Florida All Citites.csv")
df

,population_rank,city,county,population,land_area_mi,land_area_km,government,label,year_incorporated
0,411,Marineland,Flagler,15,0.21,0.55,Commission–manager,Town,1940
1,411,Marineland,St. Johns,15,0.21,0.55,Commission–manager,Town,1940
2,410,Lake Buena Vista,Orange,24,3.00,7.80,Council–manager,City,1967
3,409,Bay Lake,Orange,29,21.50,55.70,Council–manager,City,1967
4,408,Lazy Lake,Broward,33,0.02,0.06,Mayor–council,Village,1953
...,...,...,...,...,...,...,...,...,...
409,5,St. Petersburg,Pinellas,258308,61.80,160.10,Mayor–commission,City,1903
410,4,Orlando,Orange,307573,110.60,286.50,Mayor–council,City,1875
411,3,Tampa,Hillsborough,384959,114.00,295.30,Mayor–council,City,1855
412,2,Miami,Miami-Dade,442241,36.00,93.20,Mayor–commission,City,1896
413,1,Jacksonville,Duval,949611,747.30,1935.50,Mayor–council,City,1832

In [14]:
df["city_county"] = df["city"] + ", " + df["county"]

In [15]:
cities_counties = df[["city", "county", "city_county"]]
cities_counties

                 city        county               city_county
0          Marineland       Flagler       Marineland, Flagler
1          Marineland     St. Johns     Marineland, St. Johns
2    Lake Buena Vista        Orange  Lake Buena Vista, Orange
3            Bay Lake        Orange          Bay Lake, Orange
4           Lazy Lake       Broward        Lazy Lake, Broward
..                ...           ...                       ...
409    St. Petersburg      Pinellas  St. Petersburg, Pinellas
410           Orlando        Orange           Orlando, Orange
411             Tampa  Hillsborough       Tampa, Hillsborough
412             Miami    Miami-Dade         Miami, Miami-Dade
413      Jacksonville         Duval       Jacksonville, Duval

[414 rows x 3 columns]